body{
    background-color: rgb(130, 106, 251);
}

.templates{
    position: relative;
    margin-left: 50px;
}

.card{
    margin-left: 60px;
    margin-right: 60px;
}



.cardimg{
    height: 250px;
}

.row{
    margin-top: 50px;
}
