{% load static %}

{% include "nav.html" %}
<section id="About">
    <div class="about-wraper container">
        <div class="about-text">
            <p style=" font-weight: bolder;"class="small">About Us</p>
            <h2>We've been making healthy Template for last 10 years</h2>
            <p>Build beautiful, recruiter-tested resumes in a few clicks! Our resume builder is powerful and easy to use, with a range of amazing functions. Custom-tailor resumes for any job within minutes. Increase your interview chances and rise above the competition.</p>
        </div>
        <div class="about-img">
            <img src="{% static './Images/2.jpg'%}" alt="About Us">
        </div>
    </div>
</section>

    
</body>
</html>